<p id="notice"><%= notice %></p>

<p>
  <b>User name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>User address:</b>
  <%= @user.user_address %>
</p>

<p>
  <b>User email:</b>
  <%= @user.user_email %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>User role:</b>
  <%= @user.user_role %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
