<h1>Listing events</h1>

<table>
  <tr>
    <th>Event name</th>
    <th>Event amount</th>
    <th>Event date</th>
    <th>Spend amount</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.event_name %></td>
    <td><%= event.event_amount %></td>
    <td><%= event.event_date %></td>
    <td><%= event.spend_amount %></td>
    <td><%= event.user %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
